@tailwind base;
@tailwind components;
@tailwind utilities;

.public-sans-regular {
  font-family: 'Public Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.public-sans-bold {
  font-family: 'Public Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
